*{
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  font-family: "Pontano Sans", sans-serif; 
  background-color: rgba(255, 255, 128, .5);
}

div {
  text-align:center;
  margin:auto;  
}

#ryu, #taki {
  display: inline-block;
  background-color: #68e479;
  box-shadow: 4px 4px 3px gray;
  color:rgb(55, 25, 228);
  font-size: 30px;
  border: none;
  transition: background-color 1s ease;
  width:180px;
  height: 80px;
  border-radius: 30px;
}

#income{
  background-color:lightblue;
  box-shadow: 4px 4px 3px gray;
  color: blue;
  font-size: 20px;
  width:130px;
  height: 50px;
  border-radius: 20px;
}

#outcome{
  background-color:lightpink;
  box-shadow: 4px 4px 3px gray;
  color: blue;;
  font-size: 20px;
  width:130px;
  height: 50px;
  border-radius: 20px;
} 

#history{
  background-color:lightgreen;
  box-shadow: 4px 4px 3px gray;
  color: blue;;
  font-size: 20px;
  width:130px;
  height: 50px;
  border-radius: 20px;
}

button {
  display: inline-block;
  background-color: #fc6453;
  padding: 12px;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  width:80px;
  border: none;
  transition: background-color 1s ease;
  border-radius: 10px;
}



.box{
	position:relative;
  height:100px;  
}

image {
  justify-content: center;
  margin-bottom: 100px;
}

footer{
  padding: 5px;

}

ul li {
  list-style: none;
}

label {
  margin-right: 10px;
  float: left;
}
ul {
  width: 250px;
  margin: 0 auto;
}
